<label>
  {{#if label}}
    <p class="text-base text-indigo-600 font-medium mb-2">{{label}}</p>
  {{/if}}
  <input
    name="{{name}}"
    type="{{type}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
    class="text-base border border-slate-300 text-zinc-700 rounded hover:border-slate-500 focus:border-slate-600 outline-none p-1 block w-full
      {{className}}"
  />
</label>