<ui-loader loading="{{isLoading}}" class-name="bg-white/50 z-10"></ui-loader>
<div class="grid grid-cols-12 h-screen w-screen font-serif animate-fade">

  <div class="col-span-1 bg-emerald-300 pt-6 px-6 block">
    <div class="flex flex-col items-center px-2">
      <a
        href="mailto:{{user.email}}"
        class="text-lg text-indigo-800"
      >{{user.email}}</a>
      <button
        class="logout-btn border-b text-indigo-500 border-indigo-500 mt-4 text-lg flex items-center p-2 w-full justify-center gap-2 hover:text-indigo-800"
      >
        <i class="icon-log-out logout-btn text-lg"></i>
        Logout
      </button>

      <button
        class="create-word-btn rounded bg-indigo-600 text-white hover:bg-indigo-700 mt-10 px-2 py-1 text-lg"
      >Create new word</button>

      <button
        class="checked-word-btn rounded bg-indigo-600 text-white hover:bg-indigo-700 mt-10 px-2 py-1 text-lg"
      >Learned Words</button>
    </div>
  </div>

  <div
    class="col-span-11 bg-emerald-100 pt-6 px-10 pb-40 text-lg text-indigo-900"
  >
    <p class="mb-6 indent-3">Всего в английском языке встречается более 300
      irregular verbs (неправильных глаголов). Но есть и хорошая новость - около
      100 неправильных глаголов употребляются в 90% случаев. Таким образом, для
      начинающих достаточно выучить основные неправильные глаголы в английском,
      а затем постепенно пополнять свои знания другими, менее распространенными.</p>
    <p class="mb-6 indent-3">Глаголы можно редактировать, добавлять и удалять по
      своему желанию. Выученное слова можно отметить. Оно перестанет
      отображаться. Все отмеченные слова можно посмотреть в отдельной таблице.
    </p>
    <p class="mb-2 indent-3">
      При изучении глаголы можно отфильтровать по группам в следующем порядке:
    </p>

    <div class="flex w-full justify-between">
      <div class="w-1/2">
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="0" />
          Все слова
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="1" />
          Изменение гласной по принципу: [ɪ] - [æ] - [ʌ] (ring - rang - rung)
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="2" />
          Изменение гласной во второй и третьей форме (dig - dug - dug)
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="3" />
          Вторая и третья форма заканчиваются на –ought или –aught (teach -
          taught - taught)
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="5" />
          Вторая и третья формы имеют окончания -ew –wn (grow - grew - grown)
        </label>

      </div>

      <div class="w-1/2 pt-7">
        <label class="radio-btn items-center inline">
          <input type="radio" class="radio-input" name="sort" value="4" />
          Оглушение согласной в конце слова (spend - spent - spent)
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="6" />
          Все три формы одинаковые
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="7" />
          Все три формы разные
        </label>
        <br />
        <label class="radio-btn items-center">
          <input type="radio" class="radio-input" name="sort" value="8" />
          Слова, добавленные пользователем
        </label>
      </div>
    </div>

    <div class="mt-10 flex w-full justify-between justify-items-center gap-0.5">
      <div class="basis-1/8 p-2 font-semibold">Перевод</div>
      <div class="basis-2/8 p-2 font-semibold">Infinitive</div>
      <div class="basis-2/8 p-2 font-semibold">PastSimple</div>
      <div class="basis-2/8 p-2 font-semibold">PastParticiple</div>
      <div class="basis-1/8 p-2 flex justify-center"></div>
    </div>

    {{#if isNoChecked}}

      {{#each words}}
        <div class="flex w-full justify-between justify-items-center gap-0.5">
          <div
            class="basis-1/8 border border-zinc-400 p-2 items-center"
          >{{this.translate}}</div>

          <div
            class="basis-1/8 border border-zinc-400 p-2 items-center"
          >{{this.infinitive}}</div>

          <div
            class="basis-1/8 border border-zinc-400 p-2 items-center"
          >{{this.infTrans}}</div>

          <div
            class="basis-1/8 border border-zinc-400 p-2 items-center"
          >{{this.pastSimple}}</div>

          <div
            class="basis-1/8 border border-zinc-400 p-2 items-center"
          >{{this.simTrans}}</div>

          <div
            class="basis-1/8 border border-zinc-400 p-2 items-center"
          >{{this.pastParticiple}}</div>

          <div class="basis-1/8 border border-zinc-400 p-2 items-center">
            {{this.partTrans}}</div>

          <div
            class="flex gap-1 justify-around basis-1/8 border border-zinc-400 p-2 items-center"
          >
            <input
              data-id="{{this.id}}"
              type="checkbox"
              name="checked"
              class="checked"
            />

            <button
              data-id="{{this.id}}"
              data-translate="{{this.translate}}"
              data-infinitive="{{this.infinitive}}"
              data-infTrans="{{this.infTrans}}"
              data-pastSimple="{{this.pastSimple}}"
              data-simTrans="{{this.this.simTrans}}"
              data-pastParticiple="{{this.pastParticiple}}"
              data-partTrans="{{this.partTrans}}"
              class="update-word-btn rounded bg-indigo-600 text-white hover:bg-indigo-700 my-2 px-3 text-lg"
            >Update</button>
            <button
              data-id="{{this.id}}"
              class="delete-word-btn rounded bg-indigo-600 text-white hover:bg-indigo-700 my-2 px-3 text-lg"
            >Delete</button>

          </div>
        </div>
      {{/each}}

    {{/if}}

  </div>

</div>