<form class="update-word-form flex flex-col gap-3">

  <label class="w-full">
    <p class="text-sm text-black">Перевод</p>
    <input
      type="text"
      name="translate"
      class="p-2 w-full border rounded"
      placeholder="{{this.translate}}"
    />
  </label>

  <label class="w-full">
    <p class="text-sm text-black">Infinitive</p>
    <input
      type="text"
      name="infinitive"
      class="p-2 w-full border rounded"
      placeholder="{{this.infinitive}}"
    />
    <input
      type="text"
      name="infTrans"
      class="p-2 w-full border rounded"
      placeholder="{{this.infTrans}}"
    />
  </label>

  <label class="w-full">
    <p class="text-sm text-black">PastSimple</p>
    <input
      type="text"
      name="pastSimple"
      class="p-2 w-full border rounded"
      placeholder="{{this.pastSimple}}"
    />
    <input
      type="text"
      name="simTrans"
      class="p-2 w-full border rounded"
      placeholder="{{this.simTrans}}"
    />
  </label>

  <label class="w-full">
    <p class="text-sm text-black">PastParticiple</p>
    <input
      type="text"
      name="pastParticiple"
      class="p-2 w-full border rounded"
      placeholder="{{this.pastParticiple}}"
    />
    <input
      type="text"
      name="partTrans"
      class="p-2 w-full border rounded"
      placeholder="{{this.partTrans}}"
    />
  </label>

</form>